[submodule "DAY7/ERC20Mintable/lib/forge-std"]
	path = DAY7/ERC20Mintable/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DAY7/ERC20Mintable/lib/openzeppelin-contracts"]
	path = DAY7/ERC20Mintable/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "DAY8/Voting/lib/forge-std"]
	path = DAY8/Voting/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DAY9/NFT/lib/forge-std"]
	path = DAY9/NFT/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DAY9/NFT/lib/openzeppelin-contracts"]
	path = DAY9/NFT/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "DAY10/AaveBorrow/lib/forge-std"]
	path = DAY10/AaveBorrow/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "DAY10/AaveBorrow/lib/protocol-v3"]
	path = DAY10/AaveBorrow/lib/protocol-v3
	url = https://github.com/aave/protocol-v3
[submodule "DAY11/SimpleBank/lib/forge-std"]
	path = DAY11/SimpleBank/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
